# Example Mail Server Configuration File
# Please copy this file to mail-config.properties and fill in the actual configuration information.

#SMTP Server Configuration
spring.mail.host=smtp.example.com
spring.mail.port=465
spring.mail.username=your-email@example.com
spring.mail.password=your-app-password

# Mail Properties Configuration
spring.mail.properties.mail.smtp.charset=UTF-8
spring.mail.properties.mail.from.nickname=您的发信人昵称
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.ssl.enable=true
spring.mail.properties.mail.smtp.socketFactory.class=javax.net.ssl.SSLSocketFactory
spring.mail.properties.mail.smtp.socketFactory.fallback=false
spring.mail.properties.mail.smtp.ssl.checkserveridentity=true